{% apply inline_css %}
    <style>
        .triple-line {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .double-line {
            display: grid;
            grid-template-columns: 1fr 75%;
        }
        .is-marged-top {
            margin-top: 25px;
        }
        .is-title {
            font-weight: bold;
            font-size: x-large;
        }
        .justify {
            text-align: justify;
        }
        .center {
            margin: 0 auto 10px auto;
            text-align: center;
        }
        .align-end {
            justify-self: center;
        }
    </style>
<body>
    <div class="container">
        <div class="is-title center">Films de la semaine</div>
        <div class="mb-3">Voici les films (et séries) qui ont fait leur arrivée sur le NAS cette semaine:</div>
        {% for item in movies %}
            <div class="is-title is-marged-top">{{ item.movie.title }}</div>
            <div class="double-line">
                <div class="align-end"><img src="cid:{{ item.movie.ratingKey }}" class="card-img-top" style="width:150px;"
                          alt="{{ item.movie.title }}"></div>
                <div class="justify">{{ item.movie.summary }}</div>
            </div>
            <div class="triple-line">
                <div>
                    {{ item.movie.year }}
                </div>
                <div>{{ item.movie.duration|date('H:i:s', 'UTC') }}</div>
                <div>{{ item.movie.genres|join(', ') }}</div>
            </div>
            <div>{{ item.movie.actors|slice(0, 5)|join(', ') }}</div>
        {% endfor %}
    </div>
{% endapply %}
